p {
  font-size: 1.5rem;

  &.error {
    padding-bottom: 20px;
    color: red;
  }
}


//input {
//  &.ng-invalid.ng-touched {
//    border: 1px solid red;
//  }
//
//  &.ng-valid.ng-touched {
//    border: 1px solid green;
//  }
//}

.card--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
